:root {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  /* width: 800px; */
  font-size: 16px;
  max-width: 1000px;
}

.input-container{
  margin-bottom: 15px;
}

.note{
      /* max-width: 500px; */
      width: 100%;
      border: 1px solid black;
      /* height: 100px; */
      /* margin-bottom: 10px; */
      position: relative;
      padding: 10px;
}
.note-text{
  margin-bottom: 10px;
}
.subNote{
  width: 89%;
    position: relative;
    top: 100%;
    left: 8%;
}
.note-footer {
  margin-bottom: 10px;
}

.note-footer .btn{
  margin-right: 15px;
}


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
.btn:focus{
  outline: 0;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}


.btn-danger {
  color: #fff;
  background-color: #e17875;
  border-color: #e17875;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-right: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #4199e5;
  border-color: #4199e5;
}

.form-control {
  display: inline-block;
    width: 40%;
    padding: 4px 14px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 12px;
    outline: 0;
}
.form-control:focus{
  outline: 0;
}

.add-actions{
  margin-bottom: 10px;
}